/*页面初始化*/
body,div,p,ul,h2,h4{padding: 0;margin: 0;font-size: 14px;}
ul{list-style: none;}
a{text-decoration: none;}
.clear{
    clear: both;
}
/*页面初始化*/

/*横幅广告banner*/
.banner{
    background-color: #f9f9f9;
}
.banner1{
    width: 1200px;
    margin: 0 auto;
    height: 300px;
    overflow: hidden;
    position: relative;
}
.banner1 .chaojisj{
    float: left;
    width: 185px;
    height: 300px;
    padding: 0 19px 0 16px;
    background-color: #313234;
}
.banner1 .chaojisj .leixing{
    padding-bottom: 35px;
    border-bottom: 1px #646567 solid;
}
.banner1 .chaojisj .leixing h2{
    color: #eff0f2;
    margin-top: 25px;
}
.banner1 .chaojisj .leixing p{
    margin-top: 15px;
}
.banner1 .chaojisj .leixing p a{
    font-size: 12px;
    color: #bababa;
}
.banner1 .chaojisj .leixing p a:hover{
    color: red;
}
.banner1 .lunbotu{
    float: left;
    width: 730px;
    height: 300px;
    overflow: hidden;
    margin: 0 5px;
}
.banner1 .lunbotu ul{
    width: 3000px;
}
.banner1 .lunbotu ul li{
    float: left;
}
.banner1 .lunbotunav{
    position: absolute;
    margin-left: 50%;
    left: -32px;
    bottom: 8px;
}
.banner1 .lunbotunav li{
    float: left;
    margin: 0 3px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: rgba(0,0,0,0.4);
}
.banner1 .lunbotunav .huandian{
    width: 8px;
    height: 8px;
    background: rgba(0,0,0,0.1);
    border: 2px solid gray;
    border-radius: 6px;
}
.banner1 .zuo,.you{
    width: 30px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    color: white;
    position: absolute;
    left: 225px;
    top: 140px;
    cursor: pointer;
}
.banner1 .you{
    left: auto;
    right: 245px;
}
.banner1 .lepro3{
    float: left;
    width: 240px;
    height: 300px;
}
.banner1 .lepro3 .l3_top{
    width: 240px;
    height: 150px;
    cursor: pointer;
}
.banner1 .lepro3 .l3_bottom{
    height: 150px;
    background-color: #ececec;
    padding: 23px 22px 0 16px;
}
.banner1 .lepro3 .l3_bottom .sjkx{
    overflow: hidden;
    margin-bottom: 15px;
}
.banner1 .lepro3 .l3_bottom .sjkx p{
    float: left;
    background: url("../images/banner_img10.jpg") no-repeat;
    padding-left: 26px;
    color: #333333;
}
.banner1 .lepro3 .l3_bottom .sjkx a{
    float: right;
    color: #919191;
    font-size: 12px;
}
.banner1 .lepro3 .l3_bottom .sjkx a:hover{
    color: red;
}
.banner1 .lepro3 .l3_bottom p{
    font-size: 12px;
    margin-bottom: 11px;
    color: #313131;
}
.banner1 .lepro3 .l3_bottom p:hover{
    color: red;
}
/*横幅广告banner*/

/*主体main*/
.main{
    background-color: #f9f9f9;
}
.main .main1{
    width: 1200px;
    margin: 0 auto;
}
.main1 .remen .txt{
    background: url("../images/main_rmtj_bg.jpg") no-repeat 0 35px;
    height: 18px;
    text-align: center;
    color: #303030;
    padding: 35px 0 11px 0;
}
.main1 .pic{
    background-color: white;
    height: 145px;
    overflow: hidden;
}
.main1 .pic .shouji{
    overflow: hidden;
    float: left;
    width: 300px;
    background: url("../images/main_rmtj_bg1.jpg") no-repeat center right;
}
.main1 .pic .shouji .left{
    float: left;
    width: 136px;
    padding: 18px 0 14px 14px;
}
.main1 .pic .shouji .left p{
    font-size: 18px;
    font-weight: bold;
    color: #437f29;
    cursor: pointer;
}
.main1 .pic .shouji .left p span{
    font-size: 14px;
}
.main1 .pic .shouji .left a{
    display: block;
    width: 76px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    background-color: #437f29;
    border-radius: 15px;
    margin-top: 39px;
}
.main1 .pic .shouji .right{
    float: left;
    padding: 7px 0 0 15px;
}

.main .main2{
    width: 1200px;
    height: 280px;
    margin: 93px auto 0 auto;
    overflow: hidden;
    padding-bottom: 80px;
}
.main2 .bigpic{
    float: left;
    padding-left: 270px;
}
.main2 .txt{
    float: left;
    padding-left: 70px;
}
.main2 .txt h2{
    font-size: 28px;
}
.main2 .txt p{
    color: #676767;
    background: url("../images/main_le2_bg.png") no-repeat left center;
    padding-left: 18px;
    margin-top: 15px;
    /*line-height: 21px;*/
}
.main2 .txt h4{
    margin: 30px 0 18px 0;
    color: #e8514a;
    font-size: 28px;
}
.main2 .txt h4 span{
    font-size: 14px;
}
.main2 .txt a{
    display: block;
    width: 180px;
    height: 42px;
    text-align: center;
    line-height: 42px;
    background-color: #ef1e00;
    color: white;
    font-weight: bold;
    border-radius: 2px;
}

.main .main3{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 41px;
}
.main3 .cool{
    float: left;
    width: 593px;
    height: 450px;
    border: 1px solid #f1f1f1;
    margin-right: 9px;
    text-align: center;
    cursor: pointer;
}
.main3 .cool .remai{
    display: block;
    width: 160px;
    margin: 0 auto;
    height: 25px;
    text-align: center;
    line-height: 25px;
    color: white;
    font-size: 12px;
    font-weight: bold;
    background-color: #ff8f15;
    margin-bottom: 23px;
}
.main3 .cool h2{
    color: #2d2d2d;
    font-size: 24px;
}
.main3 .cool p{
    margin: 16px 0;
    color: #666666;
}
.main3 .cool h4{
    color: #ee1c03;
    margin-bottom: 20px;
}
.main3 .cool h4 span{
    font-size: 12px;
}
.main3 .cool .goumai{
    display: block;
    width: 180px;
    margin: 10px auto 0 auto;
    height: 42px;
    text-align: center;
    line-height: 42px;
    color: white;
    font-weight: bold;
    background-color: #ef1e00;
}

.main .main4{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding-bottom: 40px;
}
.main4 .peijian p{
    height: 36px;
    line-height: 36px;
}
.main4 .m4_zuo{
    float: left;
    width: 590px;
    height: 217px;
    border-top: 1px solid #7862e9;
    padding-top: 22px;
    margin-right: 19px;
}
.main4 .m4_zuo .peijiangd{
    overflow: hidden;
    margin-bottom: 20px;
}
.main4 .m4_zuo .peijiangd p{
    float: left;
    color: #003488;
}
.main4 .m4_zuo .peijiangd a{
    float: right;
    color: #343434;
}
.main4 .m4_zuo .peijiangd a:hover{
    color: red;
}
.main4 .m4_zuo .wupin{
    overflow: hidden;
}
.main4 .m4_zuo .wupin .tu{
    float: left;
}
.main4 .m4_zuo .wupin ul{
    float: left;
    overflow: hidden;
}
.main4 .m4_zuo .wupin ul li{
    float: left;
    margin-left: 14px;
}
.main4 .m4_zuo .wupin ul li img{
    border: 1px solid #efefef;
}
.main4 .m4_zuo .wupin ul li h2{
    font-weight: normal;
    font-size: 12px;
    margin: 5px 0 10px 0;
}
.main4 .m4_zuo .wupin ul li h2:hover{
    color: #eb1700;
}
.main4 .m4_zuo .wupin ul li p{
    color: #eb1700;
}
.main4 .m4_zuo .wupin ul li p span{
    font-size: 12px;
}

.main4 .m4_you{
    float: left;
    width: 590px;
    height: 217px;
    border-top: 1px solid #e3d25e;
    padding-top: 22px;
}
.main4 .m4_you .yingshi{
    margin-bottom: 20px;
    color: #e3d25e;
}
.main4 .m4_you .tu{
    overflow: hidden;
}
.main4 .m4_you .tu .tu1{
    float: left;
    width: 285px;
    height: 185px;
    margin-right: 20px;
}
.main4 .m4_you .tu .tu2{
    float: left;
}

.main .main5{
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;
}
.main5 .chaojizq{
    height: 36px;
    line-height: 36px;
}
.main5 .jieshao{
    border-top: 1px solid #ededed;
}
.main5 .jieshao .js_zuo{
    float: left;
    width: 120px;
    height: 475px;
    padding-top: 25px;
}
.main5 .jieshao .js_zuo ul li{
    width: 120px;
    height: 40px;
    text-align: right;
}
.main5 .jieshao .js_zuo ul li .jiakuang{
    border-right: 2px solid #c80000;
    color: #c80000;
}
.main5 .jieshao .js_zuo ul li a{
    display: block;
    padding-right: 24px;
    height: 40px;
    line-height: 40px;
    font-size: 12px;
    color: #323232;
}
.main5 .jieshao .js_you{
    float: left;
    width: 1080px;
    height: 500px;
    overflow: hidden;
}
.main5 .jieshao .js_you .lunbo{
    height: 3000px;
}
.main5 .jieshao .js_you .lunbo .btn1 li{
    float: left;
    height: 250px;
}
.main5 .jieshao .js_you .lunbo .btn2 li{
    float: left;
    height: 500px;
}
/*主体main*/

